*{
    margin: 0px;
    padding: 0px;
}
a{
    color: #080808;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #c9302c ;
}
#site-nav {
    min-width: 600px;
    width: auto;
    height:36px ;
    color: #999;
    position: relative;
    background-color:#f2f2f2;
    /*border-bottom:1px solid #e5e5e5;*/
    /*top:1px;*/
    font-size: 12px;
}
#sn-bd{
    max-width: 1150px;
    margin:auto;
}
.sn-container{
    width: 100%;
    height: 36px;
    position: relative;
}
.sn-container li a{
    color: #999999;
}
.sn-container li > a:hover{
    text-decoration: none;
    color: #c40000;
}
.sn-container .caret{
    border-top: 3px solid;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}
.sn-left{
    line-height: 36px;
    position: relative;
}
.sn-right{
    line-height: 36px;
    position: absolute;
    top: 0px;
    right: 0px;
}
header{
    height: 100px;
    min-width: 600px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color:#d43f3a;
    border-bottom: 1px solid #c40000;
    border-top: 1px solid #c40000;
}
.h-content{
    max-width: 1150px;
    margin: auto;
}
.h-container{
    width: 100%;
    height: 100px;
    position: relative;
}
.m-logo {
    position: relative;
    width: 156px;
    /*margin-top: 25px;*/
    padding-top: 20px;
    overflow: hidden;
}
/*.m-banner{*/
    /*float: right;*/
    /*height: 110px;*/
    /*width: 20px;*/
    /*/!*background-color: #1b6d85;*!/*/
/*}*/
.m-search{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 30px;
    width: 400px;
}
.ms-form{
    margin: 0;
    padding: 0;
    /*border-width: 2px 0 2px 2px;*/
    /*border: 2px solid #c40000;*/
    clear: both;
    overflow: hidden;
}

.ms-con{
    height: 32px;
    width: 75%;
    margin: 0px;
    padding: 0px;
    float: left;
    border: none;
}
.ms-sub{
    background-color: #c40000;
    width:25%;
    height: 32px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    border:none;
    float: left;
    color: #ffffff;
}
.c-container{
    min-width:600px;
    width: auto;
}
.c-row{
    max-width: 1100px;
    margin: auto;
}
ul.nav-tabs.affix{
    top: 30px;
}
#myScrollspy ul.nav-tabs{
    background-color: #c9302c;
    width: 130px;
    margin-top: 20px;
    line-height: 32px;
    border: 1px solid #c40000;
    text-align: center;
    border-radius: 6px;
}
#myScrollspy ul.nav-tabs li{
    margin: 0px;
}
#myScrollspy ul.nav-tabs li a{
    width: 128px;
    line-height: 32px;
    display: block;
    margin: 0px;
    border-radius: 0px;
}
#myScrollspy ul.nav-tabs li:first-child a{
    border-radius: 6px 6px 0 0;
}
#myScrollspy ul.nav-tabs li:last-child a{
    border-radius: 0 0 6px 6px;
}
#personalData{
    margin-top: 23px;
    /*border-top: 2px solid #c40000;*/
    /*border-right: 2px solid #c40000;*/
    /*border-left: 2px solid #c40000;*/
    border:2px solid #c40000;
    min-width: 545px;
    width: auto;
    border-radius: 10px;
    /*height: 400px;*/
    height: auto;
}
.pd-top{
    /*max-width: 700px;*/
    width: auto;
    position: relative;
    border-bottom: 1px solid #d43f3a;
    height: 101px;
}
.headPortrait {
}
.headPortrait #hp-img{
    width:100px ;
    height: 100px;
    background-color: #b2dba1 ;
    float: left;
    border-top-left-radius: 10px;
    margin-right: 10px;
}
.headPortrait .hp-text{
    float: left;
    height: 100px;
}
.hp-text #m_name{
    padding-top: 20px;
}
.hp-text #m_grades{
    padding-top: 16px;
}
.pdt-nav{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    padding-top: 38px;
}
.pdt-nav ul{
    list-style: none;
}
.pdt-nav ul li{;
    float: left;
    display:inline-block;
    margin-right: 30px;
}
.pd-header{
    height: 50px;
    line-height: 50px;
    width: 100%;
}
.pd-header ul{
    display: block;
    list-style: none;
    width: 510px;
    margin:auto;
    height: 50px;
    border-bottom: 1px solid #d43f3a;
}
.pd-header ul li{
    float: left;
}
.pd-header ul li a{
    padding-right: 30px;
    padding-left: 30px;
    border-left: 1px solid #d43f3a;
}
.pd-header ul li:first-child a{
    border-left: none;
}
.pd-content{
    width: 510px;
    margin: auto;
}
.pdc-nav{
    height: 37px;
    line-height: 35px;
}
.pdc-nav ul {
    height: 37px;
    display: block;
    list-style: none;
    margin:0px;
}
.pdc-nav ul li{
    height:36px;
    display: inline-block;
    float: left;
    background-color: #c9302c;
}
.pdc-nav ul li a{
    height: 35px;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}
.pdc-nav ul li a:hover{
    color: #080808;
    background-color: white;
}
.m-data{
    width: 100%;
    margin-top: 5px;
}
#mDataForm .md-img{
    height: 100px;
    width: 100px;
}
.birth-select,.constellation-select{
    padding-top: 7px;
}